/* home page code start */

@media (min-width: 0px) and (max-width:  480px){

	/* header area code start */
	header img{
		width: 80%;
		margin: 0rem auto;
	}
	/* header area code end */

	/* video area code start */
	video {
	    max-width: 100%;
	    height: auto;
	    object-fit: cover;
	    display: block;
	  	margin: 0px auto;
	}
	/* video area code end */

	/*navbar area code start*/
	.navbar{
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-between;
	  background-color: #004B5B;
	  color: #FFF;
	  height: 50px;
	  padding: 1em;
	  position: relative;
	}
	.menu-button-container {
	    display: flex;
	  }
	.navbar .menu {
	    position: absolute;
	    top: 0;
	    margin-top: 50px;
	    left: -20%;
	    flex-direction: column;
	    width: 100%;
	    justify-content: center;
	    align-items: center;
	  }
	 #menu-toggle ~ .menu li {
	    height: 0;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
	    height: 2.5em;
	    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.navbar .menu > li {
	    display: flex;
	    justify-content: center;
	    margin: 0;
	    width: 50%;
	}
	.navbar .menu > li:not(:last-child) {
	    border-bottom: 1px solid #444;
	}
	.navbar .menu li a{
		padding: 0.5em;
		background-color: #222;
		width: 100%;
		border-right: .1rem solid transparent;
		border-bottom: .1rem solid #EBEDEF;
	}
	.navbar .menu li:first-child{
		border-left: .1rem solid transparent;
	}
	/*navbar area code end*/

	/* main area code start */
	main{
		display: flex;
		flex-direction: column;
		width: 95%;
		margin: 1.5rem auto;
	}
	main section.primary-section{
		width: 100%;
	}
	/* content section area code start */
	section.content-section article{
		width: 70%;
		order: 2;
	}
	section.content-section figure{
		width: 30%;
		order: 1;
		margin: 0px 2rem 0px 2rem;
	}
	/* content section area code end */
	/* aside area code start */
	main aside{
		width: 100%;
	}
	/* aside area code end */
	/* main area code end */

}

@media (min-width: 481px) and (max-width:  1279px){

	/* video area code start */
	video {
		min-width: 481px;
	    max-width: 580px;
	    height: auto;
	    object-fit: cover;
	    display: block;
	  	margin: 0px auto;
	}
	/* video area code end */

	/* main area code start */
	main{
		display: flex;
		flex-direction: column;
		width: 95%;
		margin: 1.5rem auto;
	}
	main section.primary-section{
		width: 100%;
	}
	/* content section area code start */
	section.content-section article{
		width: 70%;
		order: 2;
	}
	section.content-section figure{
		width: 30%;
		order: 1;
		margin: 0px 2rem 0px 0px;
	}
	aside ul li a img{
		max-width: 30rem;
		display: block;
		margin: 0px auto;
	}
	/* content section area code end */
	/* aside area code start */
	main aside{
		width: 100%;
	}
	/* aside area code end */
	/* main area code end */
}

@media (min-width:  1280px){
	/* main area code start */
	main{
		max-width: 1280px;
	}
	/* main area code end */
}

/* home page code end */

/* cookie statement start */
.fixed-cookie{
	position: fixed;
	right: 0px;
	bottom: 0px;	
	background: #fa0;
	padding: 15px;
	display: inline-block;
	opacity: .5;
}
.fixed-cookie span{
	color:  #fff;
}
/* cookie statement end */